spring:
    application:
        name: api-gateway

    security:
        oauth2:
            client:
                provider:
                    keycloak:
                        issuer-uri: http://${KEYCLOAK_HOST}:${KEYCLOAK_PORT:8080}/realms/${KC_REALM}
                registration:
                    keycloak:
                        client-id: ${KC_CLIENT_ID}
                        client-secret: ${KC_CLIENT_SECRET}
                        scope:
                            - openid
                            - profile
                            - email
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

    cloud:
        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            enabled: true


server:
    port: 8222
