spring:
    application:
        name: api-gateway

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:8080}/realms/${KC_REALM}


    cloud:
        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            enabled: true


server:
    port: 8222
