spring:
    application:
        name: eureka-server

eureka:
    client:
        register-with-eureka: false
        fetch-registry: false
    instance:
        hostname: ${EUREKA_HOST:localhost}

server:
    port: 8761
